<div class="container post">
  <div class="col" *ngFor="let post of (posts | search: userService.enteredText)">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-850 position-relative">
      <div class="col-md-7 d-none d-lg-block qw">
        <img src="{{pathUrl}}{{post.filePath}}" width="100%" height="500">
      </div>
      <div class="col p-10 d-flex flex-column position-static pp">
        <strong class="d-inline-block mb-10 text-dark">{{post.userByIdUser?.username}}</strong>
        <p>
          <button class="btn btn-light btn" (click)="_deletePost(post.id)">Удалить</button>
          <button class="btn btn-light btn" (click)="_complaint(post.id)">Пожаловаться</button>
        </p>
        <p class="mb">{{post.text}}</p>
        <div class="container mb-auto comment">
          <app-comment [selectedPost]="post"></app-comment>
        </div>
        <div class="mb-1 text-muted">{{post.datePost | date}}</div>
        <div class="row">
          <div class="col">
            <i class="fa fa-heart" [ngClass]="{active:post.isLiked}" (click)="_onLikeClick(post.id)"></i>
          </div>
          <div class="col text-muted">Нравится: {{post.likesCount}}</div>
        </div>
        <input [(ngModel)]="editableComment.tex" id="inputComment" class="form-control" placeholder="Добавьте комментарий...">
        <button class="btn btn-light op" (click)="_addComment(post.id)">Опубликовать</button>
      </div>
    </div>
  </div>
</div>
